body{
   background-color: rgb(241, 193, 241);
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
}
.container{
    background-color: white;
    display: inline-block;
    padding: 30px;
    border-radius: 18px;
}

  #display{
    box-shadow:  2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding-right: 20px;
    margin-bottom: 20px;
    height: 50px;
    text-align: right;
    
    border-radius: 15px;
    background-color: rgb(229, 233, 235);
    justify-self: center;
}
#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    
}
#buttons button{
    border-radius: 50%;
    height: 50px;
    background-color: rgb(229, 233, 235);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(229, 233, 235);
}
#equals{
    grid-column: span 2;
    background-color: rgb(214, 132, 159);
}
/*
.num, .opp, #equals {
    width: 30px;
    height: 30px;
    margin: 5px;
}*/
@media (max-width: 425px) {
    body {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .container {
        padding: 25px;
        width: 100%;
        max-width: 350px;
    }
    
    #display {
        width: 100%;
        height: 70px;
        font-size: 1.5em;
        margin-bottom: 25px;
    }
    
    #buttons {
        gap: 12px;
    }
    
    #buttons button {
        height: 65px;
        font-size: 1.2em;
        border-radius: 50%;
    }
    
    #equals {
        grid-column: span 2;
        border-radius: 35px !important; /* Make equals button pill-shaped */
    }
}